
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DevForm</title>
</head>
<body>
    <form action="/Receive/Echo_Multi_DataTypeArgument/" method="post">

        step : <input type="text" name="step" value="start" /><br />
        <br />

        dev : <input type="text" name="productId" value="
        CLGejLACEIkBGgphbmRyb2lkLTIyIoAIdfa4HAcnyeDfOhM0mhZYmf%2FEdbRRor3btspmSlzWnOUPO3Ige2dKyDhF%2BTioeeQci4AIJPpIEcs%2BHxFmcTH%2FgjpX5XJVh3JCjaNpZKZs0E1wja77ngAGleEix%2F%2FDA0Xm6xBD7Me%2FyQSdovOVguGDJ23oHavw8YGTBdl7vFyeXBupEQ7wyN7AVcQY6vp%2BmIn7B7Rk0REC3Ybjp8B879H2jAvasxoP3p6oCbwqwNs%2FHVahsOP91wY%2BYSJq0x2NqgGvcIg99%2F%2B1i5fkmTj92D%2FdsOwJ844CLq2dQduBcdQ6jmHq4GJ23A77JOY0KIVKH%2FRzQyCSGC5cMr7ILL3l%2Bqq26Zd5kOJ8q7dEtSUSHKcFnLntL%2B%2B1tJ8GYKEMBnVIDcFVUxqmQXVaha%2BxDKjBA5DDj4r3u1zv7GwRJ7xxXpTBwo0upwsCqz%2BMzB84rvQsa3BTz9q1QJE7P%2BDpSaQFF%2BB2%2FDVTVsYxHDEyDRyjX%2B1iSnV%2FNidzKp%2BZJVzFy3NsBeB%2B0olPlju18H%2Bfsx4sXufs9zK8EwweC48wH8MDuTG3mA5uMcHSZjt6sOaO0PBP2meEJDJBCvxM0FSktD9ev4%2FQoIs0nLWoFfPaevR76%2F80VAYzKWnW58XaCYfuC5h9MBPjtJnj%2BUW10p038eTDSclS%2BBgQew4CFyUBRv4t31NxMBG41FNw%2FX7Ivg%2BPOb4uMfZBZlMPhG400bkScjcDMEtNlC%2BkY%2B2zoXAnP5HAMxqCWK2WvkYcBq9%2F81PtBDQrHln6mOox%2Bn68G221qtTvkb2Y7wF3SYlae%2Bf6bRC1OjBUcfgUCgIWRLpzgW1KXhXkMluu2JSydCmt1MqabICbTOriUrRDwqOJTWr%2B2vWFCsPG5f4OCAxBrLPyq9LBsZcm8sfge9c4GLEI94RZKw58w%2B2nlb5QMU959tbCmJNecyKkJameopQjyDoz2G313CuSGbUsfODpQv3AsYGbqr4panp0o%2BziXknBLiE1mK9UDelDkdEkzmVH4i6r6%2Bu3J2aJLbfsropJTDhmyZIPxp4rd7SM0ALUhpfbuid0P8E6pGUQIfd%2Bxv8lagL7NZJNjnqX77MDY8S2TtZhwr%2FALwYqU77lnisv70k3pQOtn%2BdEpdyL1qephN07P0ggtgElSnj5JwIititlaMu4UDtZC6ycbimyDU7CEuqUhY8KKq%2FQJkVdpIMuHaXoyTDp9kWydjNc0gXDNsh8yzNMqvS%2BATSj%2FSJ4qdrpY7P4gAS0anPtSgIErzgogHU1qTn0uTQhEUD4Z28I4BTFdayjsz%2B2c4ljM%2Fkjpao7UjPbFqDvuZBNPsDjmuv2T6jnArkpjTzB6lrv9aG%2F1WXJADTUvr8orSZKu5L9PSgAMAA%3D" /><br />
        accttype:<input type="text" name="accttype" value="qq" /><br />
        acctcc:<input type="text" name="acctcc" value="86" /><br />
        acct:<input type="text" name="accttype" value="707029646" /><br />
        cc:<input type="text" name="cc" value="86" /><br />       
        usermobile:<input type="text" name="usermobile" value="18912053689" /><br />
        vcode:<input type="text" name="vcode" value="swfn" /><br />      
        callback:<input type="text" name="callback" value="jsonp1" /><br />
        <br />

        <input type="submit" value="Submit" />
        <br />
        Referer: https://support.weixin.qq.com/security/readtemplate?t=self_deblock/w_acct&wechat_real_lang=zh_CN
    </form>
</body>
</html>
