
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexEcho</title>
</head>
<body>
    <form action="/Receive/Echo_Multi_ObjectTypeArgument/" method="post">

        Company.Id = <input type="text" name="company.Id" value="AAAAA" /><br />
        Company.Name = <input type="text" name="company.Name" value="BBBBB" /><br />
        Company.Address = <input type="text" name="company.Address" value="12345" /><br />
        <br />

        Product.Id = <input type="text" name="product.Id" value="CCCCC" /><br />
        Pproduct.Name = <input type="text" name="product.Name" value="DDDDD" /><br />
        Product.Price = <input type="text" name="product.Price" value="67890" /><br />
        <br />

        <input type="submit" value="Submit" />
        <br />

    </form>
</body>
</html>
