
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexMulti</title>
</head>
<body>
    <form action="/Receive/Echo_Array_DataTypeArgumentMulti/" method="post">

        CompanyIdArray[0] : <input type="text" name="companyIdArray" value="AAAAA" /><br />
        CompanyIdArray[1] : <input type="text" name="companyIdArray" value="BBBBB" /><br />
        <br />

        ProductIdArray[0] : <input type="text" name="productIdArray" value="CCCCC" /><br />
        ProductIdArray[1] : <input type="text" name="productIdArray" value="DDDDD" /><br />
        <br />

        <input type="submit" value="Submit" />
        <br />

    </form>
</body>
</html>
