
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> <form action="/Receive/Echo_Multi_DataTypeArgument/" method="post">

    CompanyId : <input type="text" name="companyId" value="AAAAA" /><br />
    <br />

    ProductId : <input type="text" name="productId" value="BBBBB" /><br />
    <br />

    <input type="submit" value="Submit" />
    <br />

</form>
    </div>
</body>
</html>
