
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexArray_Mix</title>
</head>
<body>
    <form action="/Receive/Echo_Array_MixTypeArgument/" method="post">

        CompanyIdArray[0] : <input type="text" name="companyIdArray[0]" value="AAAAA" /><br />
        CompanyIdArray[1] : <input type="text" name="companyIdArray[1]" value="BBBBB" /><br />
        <br />

        ProductArray[0].Id = <input type="text" name="productArray[0].Id" value="CCCCC" /><br />
        ProductArray[0].Name = <input type="text" name="productArray[0].Name" value="DDDDD" /><br />
        ProductArray[0].Price = <input type="text" name="productArray[0].Price" value="12345" /><br />

        ProductArray[1].Id = <input type="text" name="productArray[1].Id" value="EEEEE" /><br />
        ProductArray[1].Name = <input type="text" name="productArray[1].Name" value="FFFFF" /><br />
        ProductArray[1].Price = <input type="text" name="productArray[1].Price" value="67890" /><br />
        <br />

        <input type="submit" value="Submit" />
        <br />

    </form>
</body>
</html>
