
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexArrayMix</title>
</head>
<body>
    <form action="/Receive/Echo_Multi_MixTypeArgument/" method="post">

        CompanyId : <input type="text" name="companyId" value="AAAAA" /><br />
        <br />

        Product.Id = <input type="text" name="product.Id" value="BBBBB" /><br />
        Product.Name = <input type="text" name="product.Name" value="CCCCC" /><br />
        Product.Price = <input type="text" name="product.Price" value="12345" /><br />
        <br />

        <input type="submit" value="Submit" />
        <br />

    </form>
</body>
</html>
